[General]
; General program settings
ProgramName = CredBan
PidFile = /var/run/credban.pid

[Credits]
; Credit system configuration
MaxCredits = 10
InitialCredits = 3
BanDurationSeconds = 3600 ; 1 hour

[Files]
; Used file paths
CreditsFile = credits.dat
AuthLogFile = /var/log/auth.log
CredBanLogFile = /var/log/credban.log

[Intervals]
; Time intervals for periodic operations
PeriodicCleanupSeconds = 3600 ; 1 hour
LogCheckSeconds = 5

[IP]
; List of trusted IPs (will never be banned)
; Format: IP1, IP2, IP3...
TrustedIPs = 

[Logging]
; Logging system configuration
; Available levels: DEBUG, INFO, WARNING, ERROR
MinLevel = INFO
EnableConsole = false
EnableSyslog = true 